*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4dede;
}
h1{
    text-align: center;
    font-size: 3rem;
}
header{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    align-items: center;
}
input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}
button.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
main{
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /* border: 1px solid blue; */
    padding-top: 10px;
}
.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;

}
.item-icone{
    padding-left: 15px;
}
.item-clicado{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 192, 121);
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
} 
.item-clicado .item-nome{
    text-decoration: line-through;
    color: grey;
}

.item-icone{
    width: 20%;
    /* border: 1px solid yellow; */
}
.img-icon{
    width: 30px;
    height: 30px;
}
.item-nome{
    width: 55%;
    /* border: 1px solid deeppink; */
    font-size: 20px;
    font-weight: bold;
}
.item-botão{
    flex: 25%;
    /* border: 1px solid green */
}
.delete{
    background-color: red;
    color: white;
    padding: 10px;
    height: 80px;
    width: 100%;
}